<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="180">
    <div id="map"></div>
    <div id="map-cover"></div>
    <header id="top">
        
        {% include 'nav.html' %}

        <!-- Landing -->
        <div id="hero" class="text-center">
            <div class="container">

                <h1>{{ meta.title }}</h1>

            </div>
        </div>
        
    </header>
    
    <main>
        
        <section class="page">
            <div class="container">
                
                {% if meta.index %}
                {% for page in pages %}
                {% if page.category == meta.category and not(page.index) and page.published %}
                
                <article class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">
                            <a href="{{ page.url }}">
                                {{ page.title }}{% if page.description %}: <span class="text-muted">{{ page.description }}</span>{% endif %}
                            </a>
                        </h2>
                        {% if page.author and page.date %}
                        <i class="text-muted small">{{ page.author }}: {{ page.date_formatted }}</i>
                        {% endif %}
                        <p class="lead">{{ page.cpp_preview }}</p>
                        <!-- Skills -->
                        {% if page.tags|length > 1 %}
                        <ul class="tags">
                            {% for tag in page.tags %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        {% if page.image %}
                        <img class="featurette-image img-responsive center-block" src="{{ base_url }}/{{ page.image }}" alt="Generic placeholder image">
                        {% endif %}
                    </div>
                </article>

                <hr class="featurette-divider">

                {% endif %}
                {% endfor %}
                {% elseif meta.published %}
                
                <article class="row featurette">
                    <div class="col-md-8">
                        <p class="lead">{{ content }}</p>
                        <!-- Skills -->
                        {% if meta.tags|length > 1 %}
                        <ul class="tags">
                            {% for tag in meta.tags %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if meta.author and meta.date %}
                        <hr>
                        <i class="text-muted small">{{ meta.author }}: {{ meta.date_formatted }}</i>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if meta.image %}
                        <img class="featurette-image img-responsive center-block" src="{{ base_url }}/{{ meta.image }}" alt="Generic placeholder image">
                        {% endif %}
                    </div>
                </article>
                
                {% endif %}
                
            </div>

        </section>
        
    </main>

    {% include 'footer.html' %}

</body>

</html>
