<nav class="navbar">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ base_url }}">
            <div class="logo"></div>
            <div class="info">
                <div class="name">
                    MIHKEL OVIIR
                </div>
                <div class="title">
                    SOOKOLLI KAARDID
                </div>
            </div>
        </a>
        <div class="hidden-sm-down" id="navigation">
            <ul class="nav navbar-nav pull-right">
                
                {% for page in pages %}
                {% if page.index and page.published %}
                
                <li class="nav-item">
                    <a class="nav-link{% if page == current_page or page.category == meta.category %} active {% endif %}" href="{{ page.url }}">{{ page.title }}</a>
                </li>
                
                {% endif %}
                {% endfor %}
                
            </ul>
        </div>
        <button id="hamburger" class="navbar-toggler hidden-md-up pull-right" type="button" >
            &#9776;
        </button>
        <div id="dropdown">
            <ul class="text-center">
                
                {% for page in pages %}
                {% if page.index and page.published %}
                
                <li>
                    <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
                </li>
                
                {% endif %}
                {% endfor %}
                
            </ul>
        </div>
    </div>
</nav>